// ==================================================
// common colors and variables
// ==================================================
:root {
  @primary-color: #0039cc;
  
  --primary-color: @primary-color;
  --primary-color--light: lighten(@primary-color, 4%);
  --secondary-color: #111444;
  --hover-color: #0039cc10;
  --error-color: #dd3333;
  --text-color: #000;
  --paragraph-color: #222;
  --version-info-color: #999;  
  --main-border-color: #ddd;
  --disabled-color: #eee;
  --input-background-color: #efefef;
  --app-background-color: #fff;

  --header-height: 62px;
  --footer-height: 56px;
}

// ==================================================
// orange theme
// ==================================================
:root[data-theme="orange"] {
  @primary-color: #ee6622;
  
  --primary-color: @primary-color;
  --primary-color--light: lighten(@primary-color, 4%);
  --hover-color:  #ee662210;;
}
